[Desktop Entry]
Exec=/usr/share/chronoslnx/main.py
GenericName[en_US]=Simple Planetary Hour Clock
GenericName=Simple Planetary Hour Clock
Icon=/usr/share/chronoslnx/DarkGlyphs/misc/chronoslnx.png
Name[en_US]=Chronos Linux
Name=Chronos Linux
StartupNotify=true
Terminal=false
Category=Accessories
Type=Application
