AstroClock
{
	qproperty-conjunction: #9900EE;
	qproperty-semiSextile: #FFB300;
	qproperty-semiSquare: #99FF00;
	qproperty-sextile: #04FF00;
	qproperty-quintile: #00FFE2;
	qproperty-square: #FF0000;
	qproperty-trine: #E600FF;
	qproperty-sesiquadrate: #FFFFFF;
	qproperty-biquintile: #1971FF;
	qproperty-inconjunct: #FFF010;
	qproperty-opposition: #8000FF;
}
